* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  max-width: 1200px;
}
    .container {
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    }

    .navbar {
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 25px;
    color: #708090;
    }
        .logo {
        color: transparent;
        width: 50px;
        height: 50px;
        }
        .inicio {
        display: flex;
        flex-flow: row nowrap;
        }
        .rutas {
        display: flex;
        flex-flow: row nowrap;
        }
        .hoteles {
        display: flex;
        flex-flow: row nowrap;
        }
        .vuelos {
        display: flex;
        flex-flow: row nowrap;
        }
        .contacto {
        display: flex;
        flex-flow: row nowrap;
        }
        .social {
        display: flex;
        flex-flow: row nowrap;
        }

    .main {
    background: transparent;
    display: flex;
    justify-content: center;
    }
        .text {
        display: flex;
        background-color: black;
        opacity: 50%;
        background-size: auto;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: orange;
        font-size: x-large;
        }
.background-image {
  background-image: url(./images/header.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
